<mat-card class="wrap">
  <div class="header">
    <div class="all-checked">
      <mat-checkbox [(ngModel)]="isAllChecked" 
                    *ngIf="todos.length > 0"
                    (change)="toggleAllChecked()"></mat-checkbox>
    </div>

    <mat-form-field class="todo-input-outer">
      <input  class="todo-input" 
              matInput placeholder="New task" 
              (keyup.enter)="createTodo()"
              [(ngModel)]="newTodo">
    </mat-form-field>
  </div>

  <div class="todos-list">
    <div  class="inner item" *ngFor="let todo of displayedTodos" >
      <div class="checkbox-area">
        <mat-checkbox [(ngModel)]="checkboxes[todo.pk]" (change)="toggleTodoState(todo.pk, checkboxes[todo.pk])"></mat-checkbox>
      </div>

      <div class="inner title-area" [ngClass]="{checked: checkboxes[todo.pk]}">{{ todo.fields.title }}</div>

      <div class="inner remove-area">
        <div class="icon">
          <i class="material-icons" (click)="removeTodo(todo.pk)">close</i>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="inner cnt">{{ completedTodosCnt }} items left</div>

    <div class="inner visibility">
      <button class="btn btn-common" 
              mat-button 
              [ngClass]="{active: modeDisplay == 'all'}" 
              (click)="setModeDisplay('all')">All</button>

      <button class="btn btn-common" 
              mat-button 
              [ngClass]="{active: modeDisplay == 'active'}" 
              (click)="setModeDisplay('active')">Active</button>

      <button class="btn btn-common" 
              type="button" 
              mat-button 
              [ngClass]="{active: modeDisplay == 'completed'}" 
              (click)="setModeDisplay('completed')">Completed</button>
    </div>

    <div class="inner clear">
      <button class="btn btn-common" 
                    id="removeTodosCompleted" 
                    type="button" 
                    mat-button 
                    (click)="removeTodosCompleted()">Clear completed</button>
    </div>
  </div>
</mat-card>